API_NAME=

NODE_ENV=

API_HOST=

SERVER_PORT=

EMAIL_ADMIN=

GITHUB_TOKEN=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=

MONGODB_HOST=
MONGODB_PORT=
MONGODB_DB_NAME=
MONGODB_USER=
MONGODB_PASSWORD=

REDIS_HOST=
REDIS_PORT=
REDIS_KEY_PREFIX=
REDIS_PASSWORD=